<%= form_with model: @thread_list do |f| %>
  <div>
    <%= f.text_field :title, placeholder: 'タイトル'%>
    <%= f.text_area :body %>

    <%= f.label :category, 'カテゴリ' %>
    <%= f.collection_check_boxes(:category_name_ids, CategoryName.all, :id, :name) do |category| %> 
      <%= category.label do %>
        <%= category.check_box %>
        <%= category.text %>
      <% end %>
    <% end %>
    
    <%= f.submit '登録'%>
  </div>
<% end %>