<%= link_to "戻る", :back %>
<div>
  <p><%= @thread.title %></p>
</div>
<div>
  <p><%= @thread.body %></p>
</div>
<% @responses.each do |response| %>
  <p><%= response.comment %><%= response.user.uid %></p>
<% end %>

<% if user_signed_in?%>
  <%= form_with(model: [@thread, @comment], local: true) do |f| %>
    <div>
      <%= f.text_area :comment %>
      
      <%= f.submit '登録'%>
    </div>
  <% end %>
<% else %>
  <p>ログイン後コメントすることができます</p>
<% end %>