<% @thread_lists.each do |thread| %>
  <div class='thread_container'>
    <div class='thread_container__thread_item'>
      <%= link_to thread_list_path(id: thread.uid) do %>
        <h4 class='thread_container__thread_item_username'>ユーザー名: <%= thread.user.username %></h4>

        <p class='thread_container__thread_item_title'>
          <%= thread.title %>
        </p>
    
        <p class='thread_container__thread_item_category'>
          <%= thread.category_name.first.name if thread.category_name.first.present? %>
        </p>

        <p class='thread_container__thread_item_date'>
          <%= thread.created_at.strftime("%Y-%m-%d %H:%M") %>
        </p>
      <% end %>
    </div>
  </div>
<% end %>